.app-container{
  height: 100%;
  .nav-container{
    background: #2f323a;
    .nav-header{
      background: #5294e0;
      color: #fff;
      line-height: 55px;
      vertical-align: middle;
      font-size: 24px;

    }
    .nav-body{
      padding: 0;
    }
  }
  .main{
    .main-header{
      border-bottom: 1px solid #ddd;
    }
    .main-body{
      padding: 20px;
    }
  }
}